body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.fraunces {
    font-family: 'Fraunces', serif;
}

/* Header + Nav */
.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: lighter;
    color:hsl(0, 0%, 100%);
}

.contact-btn {
    background-color:hsl(0, 0%, 100%);
    color: hsl(213, 9%, 39%);
    border-radius: 5px;
    margin: 0 20px;
}

/* Hero */
.hero {
    background-image: url("resources/images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Description "cards" */

.card-graphicdesign {
    background-image: url("resources/images/desktop/image-graphic-design.jpg");
    color: hsl(167, 40%, 24%);
}

.card-photography {
    background-image: url("resources/images/desktop/image-photography.jpg");
    color: hsl(198, 62%, 26%);
}


/* Client Testimonials */

/* Img Gallery */
.img-gallery img {
    width: 25%;
    left: 0;
    right: 0;
}