html, body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.fraunces {
    font-family: 'Fraunces', serif;
}

/* Header + Nav */
.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    background: transparent;
    z-index: 1001;
    margin-bottom: -120px;
}
.nav-logo{
    margin: 0px 20px;
}

.menu {
    display: inline-flex;
}
li {
    list-style: none;
}

li a {
    text-decoration: none;
    margin: 0 10px;
    font-weight: lighter;
    color:hsl(0, 0%, 100%);
}

.contact-btn {
    background-color:hsl(0, 0%, 100%);
    color: hsl(213, 9%, 39%);
    border-radius: 25px;
    margin: 0 20px;
    z-index: 1002;
    padding: 10px 30px;
}

/* Hero */
.hero {
    background-image: url("../resources/images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 4rem;
    color:hsl(0, 0%, 100%);
    padding-top: 20%;
}

/* Description "cards" */

.agency-features {
    display: flex;
    flex-wrap: wrap;
}
.agency-features div {
    flex: 50%;
}

.card-graphicdesign {
    background-image: url("../resources/images/desktop/image-graphic-design.jpg");
    color: hsl(167, 40%, 24%);
}

.card-photography {
    background-image: url("../resources/images/desktop/image-photography.jpg");
    color: hsl(198, 62%, 26%);
}


/* Client Testimonials */
.client-testimonials h3{
    text-align: center;
    color: hsl(210, 4%, 67%);
}

.testimonial {
    text-align: center;
    margin: 30px;
}

.testimonial p {
    font-weight: lighter;
}

.client-position {
    color:hsl(210, 4%, 67%);
    font-size: smaller;
    font-weight: lighter;
}

.client-photo {
    border-radius: 50%;
}

/* Img Gallery */
.img-gallery img {
    width: 25%;
    left: 0;
    right: 0;
}

/* Footer */ 
footer {
    background-color: hsl(168, 34%, 41%);
    width: 100%;
}

.footer-logo {
    display: block;
    margin: auto;
    padding: 20px;
}

.footer-nav a{
    color:hsl(167, 40%, 24%);
    margin: 20px;
    padding: 20px;
}

.socials {
    padding: 20px;
}